:root {
  background-color: aliceblue;
}
* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: block;
}

.topMenu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(127, 225, 255);
}
#timer {
  font-size: large;
}
#highScores {
  font-size: large;
}
.quiz-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: auto;
  padding: 5rem;
  text-align: center;
}
.quiz-welcome {
  padding: 2rem;
}

h2 {
  font-size: xx-large;
  padding: 2rem;
}

h3 {
  padding: 1rem;
  font-size: large;
}


.hide {
  display: none;
}

footer {
  display: inline;
  padding: 30px;
  text-align: center;
  clear: both;
}


/* buttons */

.startButton {
  margin: 40px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.submit_results {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
#quiz-answers li{
  
  list-style: none;
  padding: 1rem;
  border: 0.1rem solid rgb(0, 0, 0);
  margin: .5rem;
  border-radius: 1rem;
  background-color:rgba(93, 71, 174, 0.5);
}

#quiz-answers li:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
#final-score {

  font-size: xx-large;
}
#your-score {
  font-size: x-large;
}

.results-form {
  margin: 1rem;
  box-sizing: border-box; 

}
.registerPlay{
  padding: 10px;
  margin:1rem;
} 