body {
  display: block;
  margin: 0px;
  background-color: rgb(228, 228, 228);
}

.topMenu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(127, 225, 255);
}
#timer{
  font-size:large;
}
#highScores {
  font-size: large;
}
.quiz-container {
  
  text-align: center;
}

h2 {
  font-size: xx-large;
}

.startButton {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#submit_results {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.hide{
  display: none;
}